{% extends 'base.html.twig' %}

{% block title %}Our Hotels - Hypnos{% endblock %}

{% block content %}
<header>
    <div class="p-4 p-md-5 mb-4 text-white rounded banner-image"
        style="background-image: url('{{ asset('images/background-hotel.jpg') }}');">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic text-white">Simply choose one of our hotels</h1>
            <p class="lead my-3">Our hotels are among the best in the world, just choose one and discover the pleasure
                of luxury</p>
        </div>
    </div>
</header>
<section>
    <div class=" py-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for hotel in hotels %}        
            <div class="col  d-flex justify-content-center">
                <div class="card" style="width: 25rem;">
                    <img  src="{{ vich_uploader_asset(hotel, 'imageFile') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ hotel.hotelName }}</h5>
                        <p class="card-text">{{ hotel.description }}</p>
                        <div class="card-footer text-center">
                                <a href=" {{ path('show_hotel', { 'slug': hotel.slug})}} "><button class="btn button-choose">Check this hotel</button></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>  
</section>
{% endblock %}
