{% extends "base.html.twig" %}

{% block title %}Hotel {{ hotel.hotelName }}{% endblock %}

{% block content %}
<header>
    <div class="p-4 p-md-5 mb-4 text-white  img-fluid rounded banner-image"
        style="background-image: url('{{ asset('images/background-hotel.jpg') }}');">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic text-white">{{ hotel.hotelName }}</h1>
            <p class="lead my-3">Our hotels are among the best in the world, just choose one and discover the pleasure
                of luxury</p>
        </div>
    </div>
</header>
<section>
    <div class=" py-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for room in rooms %}
            <div class="col  d-flex justify-content-center">
                <div class="card" style="width: 25rem;">
                    <img src="{{ vich_uploader_asset(room, 'imageFile') }}" class="card-img-top img-thumbnail"
                        alt="{{room.title}}">
                    <img src="{{ vich_uploader_asset(room, 'secondImageFile') }}" class="card-img-top img-thumbnail"
                        alt="{{room.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{ room.title }}</h5>
                        <p class="card-text">{{ room.description }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center price">Price :
                                {{ (room.price / 100) |number_format (2, ',', '.') }} €</li>
                        </ul>
                        <div class="card-footer">
                            <a href=" {{ path('show_room', { 'slug': room.slug })}}">
                                <button class="btn link-room button-choose mb-3">Book Now</button>
                            </a>
                            <a href="{{hotel.link}}" target="_blank"><button class="btn link-room button-choose btn-booking">Booking.com</button>
                            </a>  
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% block javascripts %}
<script></script>
{{ encore_entry_script_tags('booking') }}

{% endblock %}


{% endblock %}